python-decouple
flake8
wemake-python-styleguide
flake8-pytest-style
flake8-django
flake8-logging-format
django-stubs
psycopg2

Django==3.2.4
graphene==3.0b7
graphene-django==3.0.0b7
PyJWT==2.1.0
Pillow==8.2.0
django-storages==1.11.1
boto3==1.17.92
django-filter==2.4.0
gunicorn==20.1.0
django-heroku==0.3.1
